@import '../../_variables';

.allProducts {
  width: 100%;

  &__heroSection {
    display: grid;

    @media (min-width: $gt-medium-screen) {
      grid-template-columns: 1fr 1fr;
    }

    picture {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 250px;

      @media (min-width: $gt-medium-screen) {
        height: initial;
      }
    }
  }

  &__heroContent {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: $secondary-color;
    padding: 2rem;

    @media (min-width: $gt-medium-screen) {
      padding: 3rem 2.2rem;
      gap: 1.5rem;
    }

    @media (min-width: $gt-large-screen) {
      padding: 3rem;
    }

    h1 {
      color: $primary-color;
      font-size: $large-text;
      font-weight: $medium;

      @media (min-width: $gt-large-screen) {
        font-size: $extra-large-text;
      }
    }

    p {
      color: $text-color;
      line-height: 1.6rem;
    }
  }

  &__categoryFilterBar {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;

    @media (min-width: $gt-small-screen) {
      gap: 2rem;
    }
  }

  &__categoryBar {
    padding: 0.8rem 1rem;
    border: 1px solid $light-gray-border;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $secondary-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2b477577;
    }

    &Wrapper {
      display: flex;
      gap: 1.5rem;

      span {
        font-size: $small-text;
        font-weight: $heavy;
      }
    }

    div {
      width: max-content;
    }
  }

  &__filterBtn {
    background-color: $primary-color;
    min-width: max-content;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-size: $small-text;
      color: white;
      font-weight: $heavy;
      display: none;
    }

    select {
      color: $primary-color;
      padding: 0.2rem;
    }

    @media (min-width: $gt-medium-screen) {
      padding: 0.8rem;
      font-size: $normal-text;
      font-weight: $medium;

      select {
        font-size: $normal-text;
      }

      span {
        display: block;
      }
    }
  }
}

.spinnerWrapper {
  border: 1px solid red;
}
