@import '../../variables';

.orderCard {
  padding: 1rem;
  background-color: $secondary-color;
  box-shadow: $box-shadow-light;

  h2 {
    margin-top: 1.5rem;
    font-size: $small-text;
    font-weight: $medium;
    color: $primary-color;
  }

  @media (min-width: $gt-large-screen) {
    padding: 1.2rem;
  }

  &__cardDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;

    @media (min-width: $gt-small-screen + 150px) {
      grid-template-columns: repeat(4, 1fr);
    }

    &-admin {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }

    &-userData {
      margin: 2rem 0;
      grid-template-columns: 1fr 1fr;
      gap: 1rem 2rem;
      border: 1px solid white;
      padding: 1rem;
    }

    span {
      font-size: $small-text;
      color: $primary-color;
      b {
        font-weight: $medium;
      }

      @media (min-width: $gt-large-screen) {
        font-size: $normal-text;
      }
    }

    .Cancelled {
      color: $medium-error-color;
    }

    .Delivered {
      color: $medium-green;
    }

    button {
      grid-column: span 1;
    }
  }

  &__products {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-top: 0.5rem;
    border: 1px solid white;

    & > * {
      flex: 0 0 150px;
    }

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2b477577;
    }
  }
}
