@import '../../_variables';

.header {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0;
  align-items: center;
  position: relative;

  @media (min-width: $gt-small-screen) {
    gap: 3rem;
  }

  &__logo {
    width: 36px;
    height: 36px;

    @media (min-width: $gt-small-screen) {
      width: 110px;
    }
  }

  &__form {
    width: 100%;
    display: flex;

    label {
      width: 100%;
      height: 100%;
    }

    button {
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  &__buttons {
    gap: 1rem;
    display: none;

    @media (min-width: $gt-medium-screen) {
      display: flex;
      align-items: center;
    }
  }

  .cart-product-num {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -0.5rem;
    top: -0.5rem;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;

    font-size: $small-text;
    font-weight: $medium;
    background-color: $medium-error-color;
  }

  .hamburgur {
    display: none;

    @media (min-width: $gt-medium-screen) {
      display: block;
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: 4rem;
    border: 1px solid $light-gray-border;
    width: 200px;
    box-shadow: $box-shadow-light;
    z-index: 99;
  }

  &__mobileDropdown {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid $light-gray-border;
    z-index: 99;

    @media (min-width: $gt-medium-screen) {
      display: none;
    }

    &__wrapper {
      display: flex;
      position: relative;

      & > * {
        width: 100%;
      }
    }

    .hamburgur-show {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        width: 20px;
        display: block;
      }
    }
  }

  &__mobileDropdownBox {
    position: absolute;
    right: 0;
    bottom: 3.7rem;
    width: 50%;
    border: 1px solid $light-gray-border;
  }
}
