@import '../../variables';

.productCard {
  display: block;
  height: 100%;
  border: 5px solid $secondary-color;

  &:hover {
    picture {
      img {
        transform: scale(1.2);
      }
    }
  }

  picture {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    transition: 500ms ease-out;
  }

  .ratings {
    width: max-content;
    margin: 1rem auto;
    img {
      width: 20px;
    }
  }

  h3 {
    font-size: $medium-text;
    font-weight: $medium;
    color: $primary-color;
    margin: 1rem;
  }

  p {
    margin: 1rem;
    color: $medium-error-color;
    font-size: $large-text;
    font-weight: $heavy;
  }
}
