@import '../../variables';

.productCard {
  display: block;
  height: 100%;
  border: 5px solid $secondary-color;
  background-color: white;

  &:hover {
    picture {
      .product {
        transform: scale(1.2);
      }
    }
  }

  picture {
    overflow: hidden;
    position: relative;

    .product {
      width: 100%;
      height: auto;
      transition: 500ms ease-out;
      z-index: 1;
    }

    .wishlist {
      z-index: 2;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 35px;
      height: auto;
    }
  }

  .ratings {
    width: max-content;
    margin: 1rem auto;
    img {
      width: 20px;
    }
  }

  h3 {
    font-size: $normal-text;
    font-weight: $medium;
    color: $primary-color;
    margin: 1rem;

    @media (min-width: $gt-large-screen) {
      font-size: $medium-text;
    }
  }

  p {
    margin: 1rem;
    color: $medium-error-color;
    font-size: $medium-text;
    font-weight: $heavy;

    @media (min-width: $gt-large-screen) {
      font-size: $large-text;
    }
  }

  hr {
    margin: 0 1rem;
  }

  .user-ratings,
  .user-description {
    font-size: $small-text;
    font-weight: $light;
    color: $text-color;
  }

  &-small {
    h3,
    p {
      margin: 0.5rem;
    }

    h3 {
      font-size: $small-text;
    }

    p {
      font-size: $normal-text;
      margin-top: 0.7rem;
    }

    span {
      font-size: $small-text;
      color: $primary-color;
      margin: 0.5rem;
    }
  }
}
