@import '../../_variables';

.breadCrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 0.5rem 0 1rem;
  padding: 0 1rem;

  @media (min-width: $gt-small-screen) {
    padding: 0 2rem;
  }

  font-size: $small-text;
  font-weight: $medium;
  color: $primary-color;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }
}
