@import '../../_variables';

.label {
  &__name {
    font-weight: $heavy;
    font-size: $small-text;
    color: $primary-color;
  }

  &__field {
    margin-top: 0.5rem;
    width: 100%;
    font-size: $normal-text;
    color: $text-color;
    background-color: $secondary-color;
    border: none;
    padding: 0.5rem 1rem;

    &::placeholder {
      font-size: $normal-text - 0.1rem;
      opacity: 0.8;
    }

    &-error {
      background-color: $light-error-color;
    }

    &-nomargin {
      margin: 0;
    }
  }

  &__validationMsg {
    font-size: $small-text;
    color: $medium-error-color;
    font-weight: $light;
  }
}
