@import '../../_variables';

.hero {
  &__section {
    display: grid;

    @media (min-width: $gt-medium-screen) {
      grid-template-columns: 1fr 1fr;
    }

    picture {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 250px;

      @media (min-width: $gt-medium-screen) {
        height: initial;
      }
    }
  }

  &__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: $secondary-color;
    padding: 2rem;

    @media (min-width: $gt-medium-screen) {
      padding: 3rem 2.2rem;
      gap: 1.5rem;
    }

    @media (min-width: $gt-large-screen) {
      padding: 3rem;
    }

    h1 {
      color: $primary-color;
      font-size: $large-text;
      font-weight: $medium;

      @media (min-width: $gt-large-screen) {
        font-size: $extra-large-text;
      }
    }

    p {
      color: $text-color;
      line-height: 1.6rem;
    }
  }
}
