@import '../../_variables';

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  &__image {
    cursor: pointer;
    position: relative;

    input {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 500ms ease-out;
    }

    button {
      display: block;
      margin: 0.5rem auto 0;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: $normal-text;
      font-weight: $heavy;
      color: $primary-color;
      opacity: 0.5;
    }
  }
}
