@import '../../_variables';

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  &__image {
    cursor: pointer;
    position: relative;

    input {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 500ms ease-out;
    }

    button {
      display: block;
      margin: 0.5rem auto 0;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: $normal-text;
      font-weight: $heavy;
      color: $primary-color;
      opacity: 0.5;
    }
  }

  .productDescription {
    grid-column: span 3;

    .inputWrapper {
      margin-top: 0.5rem;
      background-color: $secondary-color;

      &-error {
        background-color: $light-error-color;
      }
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 150px;
      margin: 1rem 0;
      border: none;
      padding: 0 1rem;
      font-size: $normal-text;
      color: $text-color;
      background-color: transparent;
      line-height: 1.5rem;
    }
  }
}
