@import '../../_variables';

.allProducts {
  width: 100%;

  &__giftCard {
    margin-top: 2rem;
    border: 1px solid $light-error-color;
    position: relative;
    box-shadow: $box-shadow-light;

    picture {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100px;
    }

    p {
      background-color: $light-error-color;
      color: $text-color;
      padding: 2rem;
      line-height: 1.8rem;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      border: 1px solid $light-error-color;
      background: white;
      padding: 0.4rem;
      cursor: pointer;
      box-shadow: $box-shadow;

      img {
        width: 100%;
        height: auto;
      }
    }

    @media (min-width: $gt-medium-screen) {
      display: flex;
      flex-direction: row-reverse;

      picture {
        height: initial;
      }

      p,
      picture {
        width: 50%;
      }
    }
  }

  &__categoryFilterBar {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;

    @media (min-width: $gt-small-screen) {
      gap: 2rem;
    }
  }

  &__categoryBar {
    padding: 0.8rem 1rem;
    border: 1px solid $light-gray-border;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $secondary-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2b477577;
    }

    &Wrapper {
      display: flex;
      gap: 1.5rem;

      span {
        font-size: $small-text;
        font-weight: $heavy;
      }
    }

    div {
      width: max-content;
    }
  }

  &__filterBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: max-content;
    padding: 1px;
    border: 1px solid $light-gray-border;

    span {
      display: none;
    }

    select {
      padding: 0.2rem;
      border: none;
      background-color: $primary-color;
      color: white;

      option:hover {
        background-color: #2b477577 !important;
      }
    }

    @media (min-width: $gt-medium-screen) {
      padding: 0 1rem;
      font-size: $normal-text;
      font-weight: $medium;

      span {
        display: block;
        color: $primary-color;
        font-size: $normal-text;
      }

      select {
        font-weight: $medium;
        font-size: $normal-text;
        padding: 0.5rem;
      }
    }
  }
}

.searchResultMsg {
  color: $primary-color;
  font-weight: $medium;
  font-size: $medium-text;
  margin-bottom: 2rem;
}

.spinnerWrapper {
  padding: 0 0 4rem;
}
