@import '../../_variables';

hr {
  margin: 2rem 0;
}

.singleProduct {
  width: 100%;

  &__heroSection {
    display: grid;
    gap: 1rem;

    picture {
      position: relative;

      .wishlists {
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
      }

      .singleProduct__bigImage {
        width: 100%;
        height: auto;
      }
    }

    @media (min-width: $gt-large-screen) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
  }

  &__smallImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
    gap: 2rem;

    @media (min-width: $gt-small-screen) {
      gap: 4rem;
    }

    img {
      width: 100%;
      opacity: 0.5;
      border: 1px solid $medium-error-color;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__heroContent {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: $primary-color;

    @media (min-width: $gt-small-screen) {
      gap: 2rem;
    }
  }

  &__heroHeading {
    font-size: $large-text;
    font-weight: $medium;
    line-height: 2rem;

    @media (min-width: $gt-small-screen) {
      font-size: $extra-large-text;
      line-height: 2.8rem;
    }
  }

  &__heroRatings {
    display: flex;
    gap: 1rem;
    align-items: center;

    p {
      font-size: $small-text;
      font-weight: $medium;
    }
  }

  &__heroBrand {
    span {
      font-weight: $medium;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    span {
      font-weight: $heavy;
      color: $medium-error-color;
      font-size: $large-text;

      @media (min-width: $gt-small-screen) {
        font-size: $extra-large-text;
      }
    }
  }
}

.about {
  width: 100%;
  max-width: $gt-medium-screen;
  margin: 4rem auto 0;
  background-color: $secondary-color;
  padding: 2.5rem 2rem;

  h3 {
    color: $text-color;
    font-size: $medium-text;
    font-weight: $medium;
    margin: 0 0 1.3rem;

    @media (min-width: $gt-medium-screen) {
      font-size: $large-text;
    }
  }

  p {
    color: $text-color;
    line-height: 1.5rem;
  }

  li {
    color: $text-color;
    line-height: 2rem;
  }

  .specCell {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    &:nth-child(even) {
      background-color: white;
    }

    span {
      width: 100%;
      color: $text-color;
    }
  }
}

.relatedItem,
.customerReviews {
  margin-top: 4rem;

  h2 {
    text-align: center;
    color: $primary-color;
    font-size: $large-text;
    font-weight: $medium;
    margin-bottom: 2rem;
  }
}

.customerReviews {
  &__contentWrapper {
    width: 100%;
    max-width: $gt-medium-screen;
    margin: auto;
  }

  &__dataContainer {
    display: grid;
    gap: 0.5rem;
  }

  &__dataCell {
    display: grid;
    grid-template-columns: max-content auto max-content;
    gap: 1rem;

    span {
      line-height: 1.6rem;
      color: $primary-color;
      font-size: $small-text;
      font-weight: $medium;
    }

    &Box {
      background-color: $secondary-color;

      div {
        height: 100%;
        background-color: $primary-color;
      }
    }
  }

  &__form {
    margin: 2rem 0;

    h3 {
      text-align: center;
      font-weight: $medium;
      font-size: $medium-text;
      color: $primary-color;
    }

    &__emojis {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      font-size: $large-text;

      span {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }

    textarea {
      margin-top: 1.5rem;
      min-width: 100%;
      max-width: 100%;
      min-height: 150px;
      border: none;
      background-color: $secondary-color;
      padding: 1rem;
      font-size: $normal-text;
      font-weight: $light;
      color: $text-color;
    }

    button {
      display: block;
      margin: 1.5rem auto 0;
    }
  }

  &__spinner {
    padding-bottom: 2rem;
    display: none;

    &-show {
      display: block;
    }
  }
}

.reviewsCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 500px;

  &__card {
    border: 1px solid $light-gray-border;
    padding: 1rem;
  }

  &__cardHead {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__cardInfo {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    color: $text-color;
    font-size: $small-text;

    &__name {
      color: $primary-color;
      font-weight: $medium;
      font-size: $small-text;
    }
  }

  &__cardDesc {
    margin-top: 1rem;
    color: $text-color;
  }
}
