$primary-color: #2b4775;
$secondary-color: #e4f0ff;
$text-color: #4f4f4f;

$light-gray-border: #cccccc;
$light-error-color: #fddcdc;
$medium-error-color: #e76161;
$medium-green: #6ab456;

// positions
$max-content-width: 600px;

// font sizes
$small-text: 0.75rem;
$normal-text: 1rem;
$medium-text: 1.2rem;
$large-text: 1.5rem;
$extra-large-text: 2rem;

// font weight
$light: 400;
$medium: 500;
$heavy: 900;

// media breakpoints
$gt-small-screen: 480px;
$gt-medium-screen: 768px;
$gt-large-screen: 1024px;
$gt-extra-large-screen: 1200px;

// misc
$box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
$box-shadow-bold: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
