@import '_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *:focus {
    outline: 1px dotted $primary-color;
  }
}

// block level element
section,
picture,
img,
article,
a,
label,
main,
aside {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}
