@import '_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *:focus {
    outline: 1px dotted $light-gray-border;
  }
}

section,
picture,
img,
article,
label,
main,
aside {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}
